<?xml version="1.0" encoding="utf-8"?>
<Module>
  <Name value="Skald" />
  <Id value="Skald" />
  <Version value="1.0.0" />
  <DefaultModule value="false" />
  <SingleplayerModule value="true" />
  <MultiplayerModule value="false" />
  <Official value="false" />
  <DependedModules>
    <DependedModule Id="Native" />
    <DependedModule Id="SandBox" />
    <DependedModule Id="StoryMode" />
  </DependedModules>
  <SubModules>
    <SubModule>
      <Name value="Skald" />
      <DLLName value="Skald.dll" />
      <SubModuleClassType value="Skald.SubModule" />
    </SubModule>
  </SubModules>
</Module>